// app global css in SCSS form
// GameModes
$complete-mode: $red-5;
$complete-mode-dark: darken($complete-mode, 20%);
$complete-mode-light: lighten($complete-mode, 1%);

$ten-mode: $blue-5;
$ten-mode-dark: darken($ten-mode, 20%);
$ten-mode-light: lighten($ten-mode, 1%);

$train-mode: $green-5;
$train-mode-dark: darken($train-mode, 20%);
$train-mode-light: lighten($train-mode, 1%);

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600px) {
  .container,
  .container-sm {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
  }
}

.flex-grow {
  flex-grow: 1;
}
